<div id="clearance" class="sign-in columns">
  <div class="column is-one-third"></div>
  <div class="column is-one-third">
    <span class="title is-2">Sign In</span>
    <%= render partial: '/sessions/form' %>
  </div>
</div>
