<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Built by Aaron Yoo, Ameya Thakur, Koji Kusumi, and William Chern. 
    </p>
    <a href="https://github.com/scalableinternetservices/swiper">Source</a>
  </div>
</footer>