<h1>Listings</h1>

<div class="columns">
    <aside class="column is-one-quarter">
        <%= render 'filter'%>
    </aside>

    <div class="column is-three-quarter">
        <div class="listings">
            <table>
                <%= render @listings%>
            </table>
            <%= will_paginate @listings%>
        </div>
    </div>
</div>