
  <div class="field">
    <%= form.label :email, class: "label"%>
    <%= form.text_field :email, type: 'email', class: "input" %>
  </div>

  <div class="field">
    <%= form.label :password, class: "label"%>
    <%= form.password_field :password, class: "input"%>
    
  </div>