<h1>Listings</h1>

<div class="listings">
    <table>
        <%= render @listings%>
    </table>
</div>

<h1>Transactions</h1>
<div class="transactions">
    <table>
        <%= render @transactions %>
    <table>
</div>