<!-- TODO: put divs inside link-to respective filtered listing pages -->

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child notification is-success">
        <div class="level">
            <p class="level-left title is-2">DE NEVE</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child notification is-info">
        <div class="level">
            <p class="level-left title is-2">COVEL</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
</div>


<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child notification is-warning">
        <div class="level">
            <p class="level-left title is-2">FEAST</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child notification is-primary">
        <div class="level">
            <p class="level-left title is-2">BRUIN PLATE</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child notification is-link">
        <div class="level">
            <p class="level-left title is-2">CAFE 1919</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child notification is-warning">
        <div class="level">
            <p class="level-left title is-2">BRUIN CAFE</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child notification is-success">
        <div class="level">
            <p class="level-left title is-2">RENDEZVOUS</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child notification is-danger">
        <div class="level">
            <p class="level-left title is-2">THE STUDY</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
</div>
