commands:
  add_packs_location_to_nginx:
    command: |
      [[ -n $(grep "location /packs {" /etc/nginx/conf.d/webapp_healthd.conf) ]] && echo "packs already exists in nginx conf, skipping" || sed -i '$i\\n  location /packs {\n    alias /var/app/current/public/packs;\n    gzip_static on;\n    gzip on;\n    expires max;\n    add_header Cache-Control public;\n  }' /etc/nginx/conf.d/webapp_healthd.conf
      service nginx reload