commands:
  # directory '/var/app/current'
  # threads 8, 32
  # workers %x(grep -c processor /proc/cpuinfo)
  # bind 'unix:///var/run/puma/my_app.sock'
  # pidfile '/var/run/puma/puma.pid'
  # stdout_redirect '/var/log/puma/puma.log', '/var/log/puma/puma.log', true
  # daemonize false
  01backup_config:
    command: "cp -n /opt/elasticbeanstalk/support/conf/pumaconf.rb /opt/elasticbeanstalk/support/conf/pumaconf.rb.original"
  02_edit_comment_default_threads_config:
    # threads 8, 32 -> threads 4, 4
    command: "sed -i 's/threads 8, 32/threads 1, 1/' /opt/elasticbeanstalk/support/conf/pumaconf.rb"
  03_delete_default_worker_config:
    # workers %x(grep -c processor /proc/cpuinfo) -> workers 5 * %x( grep -c processor /proc/cpuinfo ).to_i
    command: "sed -i '/workers/d' /opt/elasticbeanstalk/support/conf/pumaconf.rb"
  04_insert_new_worker_after_threads_config:
    command: "sed -i '/threads/a workers 5' /opt/elasticbeanstalk/support/conf/pumaconf.rb"