<!-- TODO: put divs inside link-to respective filtered listing pages -->

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child notification is-success">
        <div class="level">
            <p class="level-left title is-2">De Neve</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child notification is-info">
        <div class="level">
            <p class="level-left title is-2">Covel</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
</div>


<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child notification is-warning">
        <div class="level">
            <p class="level-left title is-2">Feast at Rieber</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child notification is-primary">
        <div class="level">
            <p class="level-left title is-2">Bruin Plate</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child notification is-link">
        <div class="level">
            <p class="level-left title is-2">Café 1919</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child notification is-warning">
        <div class="level">
            <p class="level-left title is-2">Bruin Café</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child notification is-success">
        <div class="level">
            <p class="level-left title is-2">Rendezvous</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child notification is-danger">
        <div class="level">
            <p class="level-left title is-2">Study at Hedrick</p>
            <p class="level-right title is-2">$4.25</p>
        </div>
    </div>
  </div>
</div>
