<!-- TODO: put divs inside link-to respective filtered listing pages -->

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child notification is-success">
        <div class="level">
            <p class="level-left title is-1">DE NEVE</p>
            <p class="level-right title is-1">$4.25</p>
        </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child notification is-info">
        <div class="level">
            <p class="level-left title is-1">COVEL</p>
            <p class="level-right title is-1">$4.25</p>
        </div>
    </div>
  </div>
</div>


<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child notification is-warning">
        <div class="level">
            <p class="level-left title is-1">FEAST</p>
            <p class="level-right title is-1">$4.25</p>
        </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child notification is-primary">
        <div class="level">
            <p class="level-left title is-1">BRUIN PLATE</p>
            <p class="level-right title is-1">$4.25</p>
        </div>
    </div>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child notification is-link">
        <div class="level">
            <p class="level-left title is-1">CAFE 1919</p>
            <p class="level-right title is-1">$4.25</p>
        </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child notification is-warning">
        <div class="level">
            <p class="level-left title is-1">BRUIN CAFE</p>
            <p class="level-right title is-1">$4.25</p>
        </div>
    </div>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child notification is-success">
        <div class="level">
            <p class="level-left title is-1">RENDEZVOUS</p>
            <p class="level-right title is-1">$4.25</p>
        </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child notification is-danger">
        <div class="level">
            <p class="level-left title is-1">THE STUDY</p>
            <p class="level-right title is-1">$4.25</p>
        </div>
    </div>
  </div>
</div>
