<table class="table is-fullwidth is-hoverable">
    <thead class="thead">
        <th>Dining Hall</th>
        <th>Price</th>
        <th>Time</th>
    </thead>
    <tbody>
        <%= render @listings%>
    </tbody>
    
</table>
<tfoot class="">
        <%= will_paginate @listings, renderer: BulmaPagination::Rails, class: "is-centered"%>
</tfoot>