<div id="clearance" class="new-listing columns">
    <div class="column is-one-third"></div>
    <div class="column is-one-third">
        <span class="title is-2">Edit Listing</span>
        <%= render partial: "form" %>
    </div>
</div>


