<h1>Listings</h1>

<div class="columns">
    <aside class="column is-one-quarter">
        <%= render 'filter'%>
    </aside>

    <div class="column is-three-quarter">
        <div class="listings" id="listing_list">
            <%= render 'list'%>
        </div>
    </div>
</div>