<section class="container">
    <div class="columns">
        <div class="column is-one-third">
            <div class="columns">
                <div class="column is-one-third"></div>
                <%= render 'filter', class: "column"%>
            </div>
        </div>
        <div class="column">
            <div class="title is-2">Listings</div>
                <div class="listings" id="listing_list">
                    <%= render 'list'%>
                </div>
        </div>
         <div class="column is-one-fifth"></div>            
    </div>
</section>