<h1>Listings</h1>

<div id="New Listing">
    <%= link_to "New Listing", new_listing_path %>
</div>

<aside class="col-md-8">
    <div class="listings">
        <div class="listing">
            <% @listings.each do |listing| %>
            <ul>
                <%= render listing%>
            </ul>
            <% end %>
        </div>
        <%= will_paginate @listings%>
    </div>
</aside>