<h1>Listings</h1>

<div class="row">
    <aside class="col-md-4">
        <div id="New Listing">
            <%= link_to "New Listing", new_listing_path %>
        </div>
    </aside>

    <div class="col-md-8">
        <div class="listings">
            <table>
                <%= render @listings%>
            </table>
            <%= will_paginate @listings%>
        </div>
    </div>
</div>